# ide
.vscode/*
.idea/*

# native projects
.bundle
android
ios

# module scripts
node_modules/

# dependencies
package.json
package-lock.json
yarn.lock

# resources
asstes/

# builds
dist/
.dist/
build/
build/
out/
output/
